.features {
  padding-top: 0px;
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;
    text-align: center;
    margin-top: 0px;
    color: $title-color;
    font-weight: $fw-title;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: $cardcolor;
  }
}
.features__thumb {
  position: relative;
}
.features__action {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  z-index: 1;
}
.features__text {
  font-weight: $fw-title;
  font-size: $fs-text;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;
  color: $background-color;
}
