.form {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: $fw-title;
    font-size: $fs-text;
    line-height: 1.14;
    text-transform: uppercase;
    color: $background-color;
  }
}
.form__input {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: $card-radius;
  color: $background-color;
  background-color: #2f303a;
  width: 100%;
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  &::placeholder {
    font-size: $fs-title;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
.form__button {
  padding: 10px 28px;
}
.form__icon {
  fill: $background-color;
  margin-left: 10px;
  vertical-align: middle;
}
