.menu-toggle {
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $background-color;
  z-index: 4;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-icon:hover,
.menu-icon:focus {
  color: $accentcolor;
}
.menu-icon {
  fill: currentColor;
}
.menu-site {
  display: block;
  font-weight: $fw-text;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-size: 40px;
  color: $title-color;
  margin-bottom: 240px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    color: $title-color;
    text-decoration: none;
  }
  &__link--current {
    color: $accentcolor;
  }
  & :hover,
  & :focus {
    color: $accentcolor;
  }
}
.menu-auth {
  position: absolute;
  bottom: 64px;
  display: block;
  margin-bottom: 64px;
  font-weight: $fw-text;

  &__item:not(:last-child) {
    padding-bottom: 32px;
  }
  &__link--tel {
    font-size: 34px;
    line-height: 1.18;
    color: $accentcolor;
    text-decoration: none;
  }
  &__link--mail {
    font-size: 24px;
    line-height: 1.17;
    color: $text-color;
    text-decoration: none;
  }
}
.menu-socials {
  position: absolute;
  bottom: 48px;
  display: flex;
  justify-content: flex-start;
  font-weight: $fw-text;
  font-size: 18px;
  line-height: 1.22;

  &__item {
    margin-right: 20px;
  }
  &__link {
    color: $accentcolor;
    text-decoration: none;
  }
}
