.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background-color: $background-color;
  border-radius: $card-radius;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__btn:hover,
  &__btn:focus {
    color: $accentcolor;
  }
}
.modal__icon {
  fill: currentColor;
}
