.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }
  &__logo {
    margin-bottom: 20px;
  }
}
