.section {
  padding-bottom: 94px;
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}
.section__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.section__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: $card-radius;
  background: $background-secondary;
}
.section__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  color: $title-color;
  font-weight: $fw-title;
  font-size: $fs-text;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.section__text {
  margin: 0px;
  color: $text-color;
  font-size: $fs-text;
  line-height: 1.71;
}
