.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  &__title {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 696px;
    color: $background-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &__button {
    padding: 10px 32px;
    min-width: 216px;
  }
  &__button:hover,
  &__button:focus {
    background: #188ce8;
    color: $background-color;
  }
}
.button {
  display: inline-block;
  font-family: inherit;
  font-weight: $fw-title;
  font-size: $fs-title;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: $card-radius;
  cursor: pointer;
  color: $background-color;
  background-color: $accentcolor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
