.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  &__container {
    display: flex;
    align-items: baseline;
  }
  &__logo {
    margin-bottom: 20px;
  }
}
