.section {
  padding-bottom: 94px;
  padding-top: 94px;

  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.section__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: $card-radius;
  background: $background-secondary;
}
.section__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  color: $title-color;
  font-weight: $fw-title;
  font-size: $fs-text;
  line-height: 1.14;
  text-transform: uppercase;
}
.section__text {
  margin: 0px;
  color: $text-color;
  font-size: $fs-text;
  line-height: 1.71;
}
