.site-nav {
  display: flex;
  margin-left: 93px;
  font-weight: $fw-text;
  font-size: $fs-text;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  & :hover,
  & :focus {
    color: $accentcolor;
  }
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-color;
  text-decoration: none;

  &--current {
    position: relative;
    color: $accentcolor;
  }
  &--current::after {
    content: '';
    position: absolute;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }
  &:hover::after {
    opacity: 1;
  }
}
