$background-color: #ffffff;
$title-color: #212121;
$text-color: #757575;
$secondary-color: #000000;
$accentcolor: #2196f3;
$background-secondary: #f5f4fa;
$socialscolor: #afb1b8;
$cardcolor: #eeeeee;
$card-radius: 4px;
$fw-title: 700;
$fw-text: 500;
$fs-title: 16px;
$fs-text: 14px;
